---
import { languages, defaultLang } from '../../i18n/ui'
import { useTranslations } from '../../i18n/utils'
import Base from '../../layouts/base.astro'

const t = useTranslations('en')
---

<Base title={t('home.title')}>
  <div class="max-w-4xl w-full p-4 flex flex-col space-y-16 sm:space-y-24">
    <div class="flex flex-col space-y-2">
      <h1 class="text-xl font-bold text-neutral-800 dark:text-neutral-200">
        {t('home.title')}
      </h1>
      <p class="text-neutral-500 dark:text-neutral-400">
        {t('home.location')}
      </p>
      <p class="text-neutral-500 dark:text-neutral-400">
        {t('home.job')}
      </p>
      <p class="text-neutral-800 dark:text-neutral-200">
        {t('home.about')}
      </p>
    </div>
    <div class="flex flex-col space-y-6">
      <h2 class="text-neutral-800 dark:text-neutral-200">
        {t('work.title')}
      </h2>
      <div class="flex flex-col space-y-1">
        <p class="text-lg font-bold text-neutral-800 dark:text-neutral-200">
          <a href="https://inflow.com" target="_blank" class="hover:underline">
            {t('work.inflow.title')}
          </a>
        </p>
        <p class="text-neutral-500 dark:text-neutral-400">
          {t('work.inflow.location')}
        </p>
        <ol>
          {(t('work.inflow.items') as string[]).map((item) => (
            <li class="text-neutral-800 dark:text-neutral-200">
              {item}
            </li>
          ))}
        </ol>
      </div>
      <div class="flex flex-col space-y-1">
        <p class="text-lg font-bold text-neutral-800 dark:text-neutral-200">
          <a href="https://payback.co" target="_blank" class="hover:underline">
            {t('work.payback.title')}
          </a>
        </p>
        <p class="text-neutral-500 dark:text-neutral-400">
          {t('work.payback.location')}
        </p>
        <ol>
          {(t('work.payback.items') as string[]).map((item) => (
            <li class="text-neutral-800 dark:text-neutral-200">
              {item}
            </li>
          ))}
        </ol>
      </div>
      <div class="flex flex-col space-y-1">
        <p class="text-lg font-bold text-neutral-800 dark:text-neutral-200">
          {t('work.wn.title')}
        </p>
        <p class="text-neutral-500 dark:text-neutral-400">
          {t('work.wn.location')}
        </p>
        <ol>
          {(t('work.wn.items') as string[]).map((item) => (
            <li class="text-neutral-800 dark:text-neutral-200">
              {item}
            </li>
          ))}
        </ol>
      </div>
    </div>
    <div class="flex flex-col space-y-6">
      <h2 class="text-neutral-800 dark:text-neutral-200">
        {t('links.title')}
      </h2>
      <div class="flex flex-col sm:flex-row space-y-2 sm:space-y-0 sm:space-x-4">
        <a href="https://x.com/herbievine" target="_blank" class="text-neutral-600 dark:text-neutral-500 underline">
          {t('links.x')}
        </a>
        <a href="https://linkedin.com/in/herbievine" target="_blank" class="text-neutral-600 dark:text-neutral-500 underline">
          {t('links.linkedin')}
        </a>
        <a href="https://github.com/herbievine" target="_blank" class="text-neutral-600 dark:text-neutral-500 underline">
          {t('links.github')}
        </a>
        <a href="https://cal.com/herbievine/30min" class="text-neutral-600 dark:text-neutral-500 underline">
          {t('links.bookCall')}
        </a>
        <a href="mailto:me@herbievine.com" class="text-neutral-600 dark:text-neutral-500 underline">
          {t('links.email')}
        </a>
      </div>
    </div>
    <ul class="flex space-x-4">
      {
        Object.entries(languages).map(([lang, label]) => (
          <li>
            <a href={lang === defaultLang ? '/' : `/${lang}`} class="text-neutral-600 dark:text-neutral-500 underline">
              {label}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</Base>
